{% extends 'base.html' %}

{% block start %}

<div class="container mt-5">

    <div class="card shadow-lg p-4 col-md-6 mx-auto">

        <h2 class="text-center mb-4">🍽 Add Recipe</h2>

        <form method="POST" enctype="multipart/form-data">

            {% csrf_token %}

            <div class="mb-3">
                <label class="form-label fw-bold">Recipe Name</label>
                <input
                    type="text"
                    class="form-control"
                    name="name"
                    placeholder="Enter recipe name">
            </div>

            <div class="mb-3">
                <label class="form-label fw-bold">Recipe Description</label>
                <textarea
                    class="form-control"
                    rows="4"
                    name="recipe_description"
                    placeholder="Enter recipe description"></textarea>
            </div>

            <div class="mb-3">
                <label class="form-label fw-bold">Recipe Image</label>
                <input
                    type="file"
                    class="form-control"
                    name="recipe_image">
            </div>

            <div class="d-grid">
                <button type="submit" class="btn btn-success">
                    Submit Recipe
                </button>
            </div>

        </form>

    </div>

</div>

<table class="table table-bordered">
    
    <tr>
        <th>S.No</th>
        <th>Name</th>
        <th>Description</th>
        <th>Image</th>
    </tr>

    {% for recipe in recipes %}

    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ recipe.name }}</td>
        <td>{{ recipe.description }}</td>
        <td>
            {%if recipe.image %}
                <img src="{{ recipe.image.url }}" width="100">
            {% else %}  
                NO IMAGE
            {% endif %}    
        </td>
        <td>
    <a href="/delete/{{recipe.id}}/" class="btn btn-danger">
        Delete
    </a>
</td>
        <td>
    <a href="/update/{{ recipe.id }}/" class="btn btn-success">
        Edit
    </a>
</td>
    </tr>

    {% endfor %}

</table>
{% if request.user.is_authenticated %}

<div class="d-flex justify-content-end mb-3">
    <span class="me-3">
        Welcome, <b>{{ request.user.username }}</b>
    </span>

    <a href="{% url 'logout' %}" class="btn btn-danger">
        Logout
    </a>
</div>

{% endif %}

{% endblock %}